<mat-toolbar color ="primary">
  <div>
  <span>{{ title }}</span>
  </div>
</mat-toolbar>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label = "Student needed" >
      <mat-grid-list cols="3">
        <mat-grid-tile> <div class="example-large-box mat-elevation-z4">
          Large content
        </div></mat-grid-tile>
        <mat-grid-tile> <div class="example-large-box mat-elevation-z4">
          Large content
        </div></mat-grid-tile>
        <mat-grid-tile> <div class="example-large-box mat-elevation-z4">
          Large content
        </div></mat-grid-tile>
        <mat-grid-tile> <div class="example-large-box mat-elevation-z4">
          Large content
        </div></mat-grid-tile>
      </mat-grid-list>

    </mat-tab>
      <mat-tab label = "Roommate needed(Male)">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
      <mat-tab label = "Roommate needed(Female)">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
    </mat-tab-group>


